@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
} 

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('assets/factions.jpg');
  background-size: cover;
  background-position: right;
  filter: brightness(0.25);
  z-index: -1;
}
